## Reading the Dataset

In [1]:
# Importing the required library
import pandas as pd

In [4]:
# Reading the dataset
data = pd.read_csv(r'C:\Users\SACHIN\Desktop\MachineHack\train.csv')

In [5]:
# Checking top 5 rows of dataset
data.head()

,orderID,orderTime,userID,couponID,price,basePrice,reward,premiumProduct,productGroup,categoryIDs,couponUsed
0,3829,2015-02-17 15:49:32,37aa37a3d4db63cfedbf976daddebf5c,a35974920ba3c9b3a6e50a89910e6b81,9.170000,2.040000,0.940000,1,c06dc2b4a5f7ecdfa27a83acf7a29423,"b7e3b0110f96213f5087034b92be487a,667daa357f899...",1
1,4805,2015-02-25 20:28:10,a8336131974a67f838d998609c0e2604,3867cafee56ece2ea5f8db4815cadcb6,11.580000,4.820000,1.260000,0,369e08938fbb263ee8d7700a909231c3,f03040c27bfa597712980825477b32d5,0
2,1658,2015-02-28 23:30:58,f929ef735361e29928150e526255e4a4,cb82eed23c715dc002ce4d8070aedaf7,6.308566,4.385443,1.942977,0,766fb91efebff83f298f780e7524b276,b7e3b0110f96213f5087034b92be487a,0
3,2029,2015-01-28 15:28:08,0ceee2ae489c5c68a483c0c3cd6d9b54,148c8d0134dc05ce921c489983558b93,3.330000,3.330000,1.570000,0,3e1c802d7407a4d2ff7eec1482f53fb5,e73355e7a58b57d741111e7ab3855265,0
4,4703,2015-02-25 11:22:34,2cb1dc0de7a4be59f58d87fdefa91a59,3c788027ffc11385ebda482981af8637,1.943101,1.157082,1.935554,1,113593efe095675415192b4aa1ab8653,796c5815752a170021838a78bf7fab34,0

In [ ]:
# Checking the shape of the dataset
data.shape

## Defining Input and Output Features

In [ ]:
# Defining input (X) and output (y) features
X = data.iloc[:, :-1].values
y = data.iloc[:, -1].values

In [ ]:
# Checking the shape of input-output features
X.shape, y.shape

In [ ]:
# Creating training and test patterns
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1302, shuffle=True, random_state = 0)

In [ ]:
# Checking shape of training and test sets
X_train.shape, X_test.shape

In [ ]:
# Checking the input training patterns
print(X_train)

In [ ]:
# Feature scaling (z-standardization)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
# Checking the scaled input training patterns
print(X_train)

## Defining a Logistic Regession Model

In [ ]:
# Defining a logistic regression model
from sklearn.linear_model import LogisticRegression
logistic_rgr = LogisticRegression(random_state = 0)

In [ ]:
# Training the logistic regression classifier
logistic_rgr.fit(X_train, y_train)

## Prediction and Evaluation

In [ ]:
# Making predictions with the test data
y_pred = logistic_rgr.predict(X_test)

In [ ]:
# Combining the predicted and actual values
pd.DataFrame(data={'Predicted Profit': y_pred, 'Actual Profit': y_test})

In [ ]:
# Confusion matrix
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, y_pred))

In [ ]:
# Accuracy score
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

In [ ]:
# Classification report
from sklearn.metrics import classification_report
print(classification_report(y_test, y_pred))